# name: crawler

# on:
#   push:
#     branches:
#       - master
#   schedule:
#     # 定时任务，每晚 22:30 更新数据
#     - cron: '30 22 * * *'
    
# env:
#   GIT_USER: wonderkun
#   GIT_EMAIL: dekunwang2014@gmail.com
#   THEME_BRANCH: master
#   DEPLOY_REPO: wonderkun/crawler
#   DEPLOY_BRANCH: master

# jobs:
#   build:
#     name: Build on node ${{ matrix.node_version }} and ${{ matrix.os }}
#     runs-on: ubuntu-latest
#     strategy:
#       matrix:
#         os: [ubuntu-latest]
#         node_version: [12.x]

#     steps:
#       - name: Checkout
#         uses: actions/checkout@v2
#       - name: Checkout deploy repo
#         uses: actions/checkout@v2
#         with:
#           repository: ${{ env.DEPLOY_REPO }}
#           ref: ${{ env.DEPLOY_BRANCH }}
#           path: .deploy_git

#       - name: Use Node.js ${{ matrix.node_version }}
#         uses: actions/setup-node@v1
#         with:
#           node-version: ${{ matrix.node_version }}

#       - name: Configuration environment
#         env:
#           HEXO_DEPLOY_PRI: ${{secrets.HEXO_DEPLOY_PRI}}
#         run: |
#           sudo timedatectl set-timezone "Asia/Shanghai"
#           mkdir -p ~/.ssh/
#           echo "$HEXO_DEPLOY_PRI" > ~/.ssh/id_rsa
#           chmod 600 ~/.ssh/id_rsa
#           ssh-keyscan github.com >> ~/.ssh/known_hosts
#           git config --global user.name $GIT_USER
#           git config --global user.email $GIT_EMAIL
          
#       - name: Install dependencies
#         run: |
#           npm install -g hexo-cli
#           npm install
          
#       - name: Deploy hexo
#         run: |
#           hexo generate
#           cd ./public/
#           git init 
#           git add . 
#           git commit -m "Github action auto deploy my blog."
#           git push --force git@github.com:wonderkun/wonderkun.github.io.git master:master 